.addform{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:70%;
    text-align: center;
    margin: auto;
    background-color: #FDEFF4;
}
.textfield{
    width: 80%;
    margin: 0.5em;
}
